form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
form span{font-size: 3.5em;}

form input{
  font-size: 3.5em;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: 100px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.state{
  margin-top: 40px;
}
.close{
  background-color: rgb(126, 202, 126);
  border-bottom: 1px solid rgb(66, 158, 66) !important;
}
