
<app-card-info
  [name]="cardForm.get('name').value"
  [cardNumber]="cardForm.get('cardNumber').value"
  [expiration]="cardForm.get('expiration').value"
></app-card-info>
<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input label="Name" [control]="cardForm.get('name')"></app-input>
  <app-input label="Card Number" [control]="cardForm.get('cardNumber')"></app-input>
  <app-input label="expiration (MM/YY)" [control]="cardForm.get('expiration')"></app-input>
  <app-input label="Security Code" [control]="cardForm.get('securityCode')"></app-input>
  <button class="ui primary button mt-3" type="submit" [disabled]="cardForm.invalid">Submit</button>
  <button class="ui secondary button" type="button" (click)="onReset()">Reset</button>
</form>

<div>Form Contents: {{cardForm.value | json }}</div>
<div>Form is Valid: {{cardForm.valid }}</div>

<!-- <div>Errors around name: {{cardForm.controls.name.errors | json }}</div> -->
