<nav>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="nav_item">
          <!-- (click)="goToTranslate()" -->
          <a
            [routerLink]="['/', 'home']"
            routerLinkActive="active"
            class="nav_item_link"
            >Home</a
          >
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="nav_item">
          <!-- (click)="goToTranslate()" -->
          <a
            [routerLink]="['/', 'pass-generator']"
            routerLinkActive="active"
            class="nav_item_link"
            >Password Generator</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
