<nav>
  <div class="container">

    <div class="row">
      <div class="nav_item">
        <!-- (click)="goToTranslate()" -->
        <a [routerLink]="['/', 'home']" routerLinkActive="active" class="nav_item_link">Home</a>
      </div>
      <div class="nav_item">
        <!-- (click)="goToTranslate()" -->
        <a [routerLink]="['/', 'pass-generator']" routerLinkActive="active" class="nav_item_link">Password Generator</a>
      </div>
      <div class="nav_item">
        <a [routerLink]="['/', 'cards']" routerLinkActive="active" class="nav_item_link">Cards</a>
      </div>
      <div class="nav_item">
        <a [routerLink]="['/', 'typing']" routerLinkActive="active" class="nav_item_link">Typing</a>
      </div>
      <div class="nav_item">
        <a [routerLink]="['/', 'pipes']" routerLinkActive="active" class="nav_item_link">Pipes</a>
      </div>
      <div class="nav_item">
        <a [routerLink]="['/', 'pagination']" routerLinkActive="active" class="nav_item_link">pagination</a>
      </div>
      <div class="nav_item">
        <a [routerLink]="['/', 'randomphoto']" routerLinkActive="active" class="nav_item_link">Random Photo</a>
      </div>
      <div class="nav_item">
        <a [routerLink]="['/', 'paymentcard']" routerLinkActive="active" class="nav_item_link">Payment Card</a>
      </div>
    </div>
  </div>
</nav>