nav {
  width: 100%;
  display: flex;
  align-items: center;
  .row{
    grid-row-gap: 10px;
  }
  .nav_item{
    margin-right: 10px;
    &:last-of-type{
      margin-right: 0;
    }
  }
  .nav_item a {
    color: #fff;
    background-color: #09c;
    padding: 3px 12px 4px;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
}
