<h3>Create an Account</h3>
<form [formGroup]="authForm" class="ui form">
  <div class="field">
    <label>Username</label>
    <input type="text" formControlName="username">
  </div>
  {{authForm.get('username').errors | json}}
  <div class="field">
    <label>Password</label>
    <input type="text" formControlName="password">
  </div>
  <div class="field">
    <label>Password Confirmation</label>
    <input type="text" formControlName="passwordConfirmation">
  </div>
  <button class="ui submit button primary">Submit</button>

  {{authForm.errors | json}}
</form>
