<h3>Create an Account</h3>
<form [formGroup]="authForm" class="ui form">

  <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
  <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
  <app-input inputType="password" label="Password Confirmation" [control]="authForm.get('passwordConfirmation')"></app-input>

  <ng-container
  *ngIf="
  authForm.get('password').touched &&
  authForm.get('passwordConfirmation').touched &&
  authForm.errors
  ">
    <div class="is_danger" *ngIf="authForm.errors?.passwordsDontMatch">
      Password and Password Confirmation must match
    </div>
  </ng-container>

  <button class="ui submit button primary mt-3">Submit</button>
</form>
