.ui.modal>.close{
  color: #000;
  top: 1rem;
  right: 1rem;
}
.modal{
  top: 50%;
  transform: translateY(-50%);
}
.ui.modal{
  height: fit-content;
}

@media only screen and (min-width: 767px){
  .modal{
    left: calc((100% - 88%) / 2);
  }
}
@media only screen and (min-width: 992px){
  .modal{
    left: calc((100% - 850px) / 2);
  }
}
@media only screen and (min-width: 1200px){
  .modal{
    left: calc((100% - 900px) / 2);
  }
}
@media only screen and (max-width: 767px){
  .modal{
    left: calc((100% - 95%) / 2);
  }
}


// fix issue of actions
.actions:empty{
  display: none;
}
.actions-default{
  display: none;
}
.actions:empty + .actions-default{
  display: block;
}
