/* You can add global styles to this file, and also import other style files */
// import bilma styles
.searchmatch{
  background-color: yellow;
}
.container{
  height: 100%;
}
.input{
  outline: none;
}
.input.is_danger{
  border: 1px solid #cb3e3e;
}
.is_danger{
  color: #cb3e3e;
}
.label{
  display: block;
}

.mt-2{
  margin-top: 16px;
}
.mt-3{
  margin-top: 21px;
}
