<section class="pass_generator">
  <div class="container">
    <h2>Password Generator</h2>
    <div class="form">
      <label>Enter Length</label>
      <input type="text" />
      <div class="checkboxes">
        <div>
          <label>Use Letters</label>
          <input type="checkbox" />
        </div>
        <div>
          <label>Use Numbers</label>
          <input type="checkbox" />
        </div>
        <div>
          <label>Use Symbols</label>
          <input type="checkbox" />
        </div>
      </div>
      <button>Generate</button>
      <div>
        <label>Your Password</label>
        <input />
      </div>
    </div>
  </div>
</section>
