<section class="pass_generator">
  <div class="container">
    <h2>Password Generator</h2>
    <div class="form">
      <label>Enter Length</label>
      <input (input)="onChangeLength($event.target.value)" type="text" />
      <div class="checkboxes">
        <div>
          <label>Use Letters</label>
          <input (change)="onChangeUseLetters()" type="checkbox" />
        </div>
        <div>
          <label>Use Numbers</label>
          <input (change)="onChangeUseNumbers()" type="checkbox" />
        </div>
        <div>
          <label>Use Symbols</label>
          <input (change)="onChangeUseSymbols()" type="checkbox" />
        </div>
      </div>
      <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" (click)="onButtonClick()">Generate</button>
      <div>
        <label>Your Password</label>
        <input [value]="password"/>
      </div>
    </div>
  </div>
</section>
